@charset "utf-8";

/*** header.css ***/

.top-area {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.top-banner {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #F28D9F;

    position: relative; /* .close-btn의 기준 */

    overflow: hidden;
}
.top-banner ul {}
.top-banner ul li {
    color: #333;
    height: 50px;
    line-height: 50px;
    
    /* outline: 1px solid red; */
}
.top-banner ul li.banner-txt a {
    display: block;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    /* outline: 1px solid red; */
}
.no-btn img {
    display: block;
}

header {
    width: 100%;
    height: 130px;
    background-color: rgba(255,255,255,0.8);
    /* opacity: 0.8; */
}
header .header-inner {
    height: 100%;
    /* margin: 0 60px; */
    padding: 0 60px;
    position: relative; /* .search의 기준 */
}
header .header-inner::after {
    content: "";
    display: block;
    clear: both;
}
header .header-inner .header-logo {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    float: left;
}
.header-logo a {
    display: block;
}
.header-logo a img {
    /* width: 220px; */
    height: 66px;
    display: block;
    margin-top: 32px;
}



header .header-inner nav {
    margin-right: 60px;
    float: right;
    margin-top: 60px;

    /* outline: 2px solid blue; */
}
nav ul.gnb {
    display: inline-block;

    /* position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%); */
}
nav ul.gnb > li {
    padding: 0 25px;
    float: left;
    
    /* outline: 2px solid red; */
}
nav ul.gnb li::after {
    content: "";
    display: block;
    clear: both;
}

nav ul.gnb li a.gnv-link {
    font-size: 22px;
}

ul.gnb li ul.dropdown-menu {
    display: none;
}
ul.dropdown-menu li {
    display: block;
}

header .header-inner .search {
    position: absolute;
    top: 50%;
    right: 60px; /* header-inner가 가지고 있는 오른쪽 패딩만큼 이동! */
}
header .header-inner .search img {}

